:root {
  --white: #fff;
  --dark: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --ocean: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--dark);
}

ul {
  list-style-type: none;
}

span {
  color: var(--iris);
}

.stud-act,
.navi {
  font-weight: 500;
}

.hat {
  justify-content: space-between;
}

nav ul {
  padding: 0 0 0 120px;
}

.logo-dark,
.logo-light {
  text-transform: uppercase;
  font: bold 18px/21px 'Raleway', sans-serif;
  letter-spacing: 0.03em;
}
.logo-dark {
  display: block;
  padding: 0 0 0 100px;
}

.cont {
  font-style: normal;
  color: var(--slate);
}

.navi:hover,
.stud-act:hover,
.cont:hover,
.stud-act:focus,
.navi:focus,
.cont:focus {
  color: var(--ocean);
}

.stud-act:active {
  text-decoration-line: underline;
}

.title-hero {
  padding: 60px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-transform: capitalize;
  text-align: center;
}

.hero-sect {
  height: 320px;
  margin: auto;
  background-color: var(--slate);
}

.order-butt {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  text-transform: capitalize;
  cursor: pointer;
}

.order-butt:hover,
.order-butt:focus {
  background-color: var(--ocean);
}

.title-second {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  margin: 20px;
}

.title-third {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;
}

.a-sect ul {
  margin: auto;
}

.team-sect {
  background-color: var(--cloud);
  margin: auto;
}

.team-sect ul {
  display: flex;
  gap: 40px;
  padding: 0 0 60px 30px;
}

.p-sect ul {
  padding: 0 0 0 60px;
}

.card-a {
  background-color: var(--white);
  border: 2px solid var(--cloud);
}

.card-team {
  background-color: var(--white);
  border: 4px solid var(--cloud);
}

.card-p {
  background-color: var(--white);
  border: 2px solid var(--cloud);
}

.logo-light,
.text-footer {
  display: block;
  color: var(--cloud);
  background-color: var(--dark);
  text-align: left;
}
